name: terraform-worfklow

on:
  push:
    branches:
    - main
    - staging
    - develop
    paths:
    - '**'
    - '!.github/params/**'
    - '!.github/scripts/**'
    - '!.github/workflows/**'

jobs:
  init:
    name: Initialization
    runs-on: ubuntu-latest
    outputs:
      threads: ${{ steps.settings.outputs.threads }}

      dir_list_dev: ${{ steps.settings.outputs.dir_list_dev }}
      dir_list_test: ${{ steps.settings.outputs.dir_list_test }}
      dir_list_prod: ${{ steps.settings.outputs.dir_list_prod }}

      execute_check_and_format: ${{ steps.settings.outputs.execute_check_and_format }}
      execute_test: ${{ steps.settings.outputs.execute_test }}
      execute_deploy: ${{ steps.settings.outputs.execute_deploy }}

      sha7: ${{ steps.settings.outputs.sha7 }}
      git_branch: ${{ steps.settings.outputs.git_branch }}
      tmp_git_branch: ${{ steps.settings.outputs.tmp_git_branch }}
      cache_key: ${{ steps.settings.outputs.cache_key }}

      state_gcp_bucket: ${{ steps.settings.outputs.state_gcp_bucket }}
      workloadidentity_projectnumber: ${{ steps.settings.outputs.workloadidentity_projectnumber }}
      workloadidentity_provider_test: ${{ steps.settings.outputs.workloadidentity_provider_test }}
      workloadidentity_provider_prod: ${{ steps.settings.outputs.workloadidentity_provider_prod }}
      serviceaccount_test: ${{ steps.settings.outputs.serviceaccount_test }}
      serviceaccount_prod: ${{ steps.settings.outputs.serviceaccount_prod }}
    defaults:
      run:
        shell: bash
        working-directory: .
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v3
        with:
          path: sources/
          submodules: true
      - name: Mapping variables
        id: mapping
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_init_variables_mapping.sh
      - name: Define settings
        id: settings
        env:
          GITHUB_REF: ${{ github.ref }} 
          GITHUB_SHA: ${{ github.sha }}
          WORKFLOW_NAME: "terraform"
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_init_settings_define.sh
      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ steps.settings.outputs.cache_key }}

  dev-check:
    name: Check directories
    needs: [init]
    runs-on: ubuntu-latest
    if: needs.init.outputs.execute_check_and_format == '1'
    environment: development
    strategy:
      fail-fast: false
      max-parallel: ${{ fromJson(needs.init.outputs.threads) }}
      matrix:
        directory: ${{ fromJson(needs.init.outputs.dir_list_dev) }}
    defaults:
      run:
        shell: bash
        working-directory: sources/${{ matrix.directory }}
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Cache
        id: cache
        env:
          CACHE_KEY: ${{ needs.init.outputs.cache_key }}
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ env.CACHE_KEY }}
      - name: Start SSH agent
        id: ssh
        if: env.SSH_PRIVATE_KEY
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_ssh_configure.sh
      - name: Terraform check code
        id: check
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/terraform_check.sh

  dev-fmt:
    name: Format directories
    needs: [init, dev-check]
    runs-on: ubuntu-latest
    if: needs.init.outputs.execute_check_and_format == '1'
    environment: development
    strategy:
      fail-fast: false
      max-parallel: ${{ fromJson(needs.init.outputs.threads) }}
      matrix:
        directory: ${{ fromJson(needs.init.outputs.dir_list_dev) }}
    defaults:
      run:
        shell: bash
        working-directory: sources/${{ matrix.directory }}
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Start SSH agent
        id: ssh
        if: env.SSH_PRIVATE_KEY
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Setup Terraform
        id: setup
        uses: hashicorp/setup-terraform@v2
      - name: Set up Cloud SDK
        id: gcloud
        uses: google-github-actions/setup-gcloud@v0
      - name: Cache
        id: cache
        env:
          CACHE_KEY: ${{ needs.init.outputs.cache_key }}
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ env.CACHE_KEY }}
      - name: Terraform format code
        id: format
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ needs.init.outputs.tmp_git_branch }}
          WORKING_DIRECTORY: ${{ matrix.directory }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/terraform_fmt.sh

  dev-pull-diff:
    name: Pull formatted code
    needs: [init, dev-fmt]
    runs-on: ubuntu-latest
    if: needs.init.outputs.execute_check_and_format == '1'
    environment: development
    outputs:
      pull_request_opened: ${{ steps.pull-code.outputs.pull_request_opened }}
    defaults:
      run:
        shell: bash
        working-directory: .
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Start SSH agent
        id: ssh
        if: env.SSH_PRIVATE_KEY
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Cache
        id: cache
        env:
          CACHE_KEY: ${{ needs.init.outputs.cache_key }}
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ env.CACHE_KEY }}
      - name: Prepare pull
        id: pull
        env:
          BRANCH_NAME: ${{ needs.init.outputs.tmp_git_branch }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: 
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_pull_prepare.sh
      - name: Create pull request
        id: create-pr
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASE_BRANCH_NAME: ${{ needs.init.outputs.git_branch }}
          BRANCH_NAME: ${{ needs.init.outputs.tmp_git_branch }}
          TITLE: 'Workflow - Terraform'
          BODY: 'Update terraform files to canonical format using `terraform fmt` from the ${{ needs.init.outputs.sha7 }} commit'
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_pull_create.sh
      - name: Close pull
        id: pull-code
        env:
          BRANCH_NAME: ${{ needs.init.outputs.tmp_git_branch }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          PR_URL: ${{ steps.create-pr.outputs.pr_url }}
          PR_NUMBER: ${{ steps.create-pr.outputs.pr_number }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_pull_close.sh

  test-stagging:
    name: Test on stagging
    needs: [init, dev-pull-diff]
    runs-on: ubuntu-latest
    if: ${{ (needs.init.outputs.execute_test == '1') && (needs.dev-pull-diff.outputs.pull_request_opened == '0') }}
    environment: testing
    strategy:
      fail-fast: false
      max-parallel: ${{ fromJson(needs.init.outputs.threads) }}
      matrix:
        directory: ${{ fromJson(needs.init.outputs.dir_list_test) }}
    defaults:
      run:
        shell: bash
        working-directory: sources/${{ matrix.directory }}
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Start SSH agent
        id: ssh
        if: env.SSH_PRIVATE_KEY
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Setup Terraform
        id: setup
        uses: hashicorp/setup-terraform@v2
      - name: Set up Cloud SDK
        id: gcloud
        uses: google-github-actions/setup-gcloud@v0
      - name: Authenticate Google
        id: auth
        env:
          WORKLOADIDENTITY_PROJECTNUMBER: ${{ needs.init.outputs.workloadidentity_projectnumber }}
          WORKLOADIDENTITY_PROVIDER: ${{ needs.init.outputs.workloadidentity_provider_test }}
          SERVICEACCOUNT: ${{ needs.init.outputs.serviceaccount_test }}
        uses: google-github-actions/auth@v0
        with:
          token_format: "access_token"
          workload_identity_provider: projects/${{ env.WORKLOADIDENTITY_PROJECTNUMBER }}/locations/global/workloadIdentityPools/${{ env.WORKLOADIDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICEACCOUNT }}
      - name: Cache
        id: cache
        env:
          CACHE_KEY: ${{ needs.init.outputs.cache_key }}
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ env.CACHE_KEY }}
      - name: Deploy on test
        id: deploy
        env:
          IDENTITY_FEDERATION_PROJECT_NUMBER: ${{ secrets.identity_federation_project_number }}
          IDENTITY_FEDERATION_POOL: ${{ secrets.identity_federation_pool }}
          IDENTITY_FEDERATION_PROVIDER: ${{ secrets.identity_federation_provider }}
          GCP_BUCKET_REPOSITORY: ${{ secrets.gcp_bucket_repository }}
          SUFFIX_NAME: ${{ needs.init.outputs.sha7 }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_check_secrets.sh
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/terraform_deploy.sh
      - name: Clean environment
        id: clean
        env:
          IDENTITY_FEDERATION_PROJECT_NUMBER: ${{ secrets.identity_federation_project_number }}
          IDENTITY_FEDERATION_POOL: ${{ secrets.identity_federation_pool }}
          IDENTITY_FEDERATION_PROVIDER: ${{ secrets.identity_federation_provider }}
          GCP_BUCKET_REPOSITORY: ${{ secrets.gcp_bucket_repository }}
          SUFFIX_NAME: ${{ needs.init.outputs.sha7 }}
        if: always()
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_check_secrets.sh
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/terraform_clean.sh

  deploy-production:
    name: Deploy on production
    needs: [init, test-stagging]
    runs-on: ubuntu-latest
    if: ${{ (needs.init.outputs.execute_deploy == '1') && (needs.dev-pull-diff.outputs.pull_request_opened == '0') }}
    environment: production
    strategy:
      fail-fast: false
      max-parallel: ${{ fromJson(needs.init.outputs.threads) }}
      matrix:
        directory: ${{ fromJson(needs.init.outputs.dir_list_prod) }}
    defaults:
      run:
        shell: bash
        working-directory: sources/${{ matrix.directory }}
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Start SSH agent
        id: ssh
        if: env.SSH_PRIVATE_KEY
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Setup Terraform
        id: setup
        uses: hashicorp/setup-terraform@v2
      - name: Set up Cloud SDK
        id: gcloud
        uses: google-github-actions/setup-gcloud@v0
      - name: Authenticate Google
        id: auth
        env:
          WORKLOADIDENTITY_PROJECTNUMBER: ${{ needs.init.outputs.workloadidentity_projectnumber }}
          WORKLOADIDENTITY_PROVIDER: ${{ needs.init.outputs.workloadidentity_provider_prod }}
          SERVICEACCOUNT: ${{ needs.init.outputs.serviceaccount_prod }}
        uses: google-github-actions/auth@v0
        with:
          token_format: "access_token"
          workload_identity_provider: projects/${{ env.WORKLOADIDENTITY_PROJECTNUMBER }}/locations/global/workloadIdentityPools/${{ env.WORKLOADIDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICEACCOUNT }}
      - name: Cache
        id: cache
        env:
          CACHE_KEY: ${{ needs.init.outputs.cache_key }}
        uses: actions/cache@v3
        with:
          path: sources/
          key: ${{ env.CACHE_KEY }}
      - name: Deploy on production
        id: deploy
        env:
          IDENTITY_FEDERATION_PROJECT_NUMBER: ${{ secrets.identity_federation_project_number }}
          IDENTITY_FEDERATION_POOL: ${{ secrets.identity_federation_pool }}
          IDENTITY_FEDERATION_PROVIDER: ${{ secrets.identity_federation_provider }}
          GCP_BUCKET_REPOSITORY: ${{ secrets.gcp_bucket_repository }}
        run: |
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/common_check_secrets.sh
          ${{ env.GITHUB_WORKSPACE }}/sources/.github/scripts/terraform_deploy.sh
